<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css">
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">MMDentis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'crudpacientes' %}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista' %}">Lista de pacientes</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form method="POST" class="card card-body">
                    <h1 class="text-center">Ingresar Paciente</h1>
                    {{error}}
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary">
                        Crear
                    </button>
                </form>
            </div>
        </div>
    </main>
    <script defer src="https://unpkg.com/imask"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const input = document.getElementById('id_dui');
            if (input) {
                IMask(input, { mask: '00000000-0' });
            }
        });
    </script>
</body>

</html>